{% extends 'base.html' %} {% block content %}
<main id="main">
  <!-- ======= Hero Slider Section ======= -->
  <!-- <section id="hero-slider" class="hero-slider">
        <div class="container-md" data-aos="fade-in">
          <div class="row">
            <div class="col-12">
              <div class="swiper sliderFeaturedPosts">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <a
                      href="single-post.html"
                      class="img-bg d-flex align-items-end"
                      style="
                        background-image: url(&quot;assets/img/post-slide-1.jpg&quot;);
                      "
                    >
                      <div class="img-bg-inner">
                        <h2>
                          The Best Homemade Masks for Face (keep the Pimples
                          Away)
                        </h2>
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipisicing
                          elit. Quidem neque est mollitia! Beatae minima
                          assumenda repellat harum vero, officiis ipsam magnam
                          obcaecati cumque maxime inventore repudiandae quidem
                          necessitatibus rem atque.
                        </p>
                      </div>
                    </a>
                  </div>

                  <div class="swiper-slide">
                    <a
                      href="single-post.html"
                      class="img-bg d-flex align-items-end"
                      style="
                        background-image: url(&quot;assets/img/post-slide-2.jpg&quot;);
                      "
                    >
                      <div class="img-bg-inner">
                        <h2>
                          17 Pictures of Medium Length Hair in Layers That Will
                          Inspire Your New Haircut
                        </h2>
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipisicing
                          elit. Quidem neque est mollitia! Beatae minima
                          assumenda repellat harum vero, officiis ipsam magnam
                          obcaecati cumque maxime inventore repudiandae quidem
                          necessitatibus rem atque.
                        </p>
                      </div>
                    </a>
                  </div>

                  <div class="swiper-slide">
                    <a
                      href="single-post.html"
                      class="img-bg d-flex align-items-end"
                      style="
                        background-image: url(&quot;assets/img/post-slide-3.jpg&quot;);
                      "
                    >
                      <div class="img-bg-inner">
                        <h2>
                          13 Amazing Poems from Shel Silverstein with Valuable
                          Life Lessons
                        </h2>
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipisicing
                          elit. Quidem neque est mollitia! Beatae minima
                          assumenda repellat harum vero, officiis ipsam magnam
                          obcaecati cumque maxime inventore repudiandae quidem
                          necessitatibus rem atque.
                        </p>
                      </div>
                    </a>
                  </div>

                  <div class="swiper-slide">
                    <a
                      href="single-post.html"
                      class="img-bg d-flex align-items-end"
                      style="
                        background-image: url(&quot;assets/img/post-slide-4.jpg&quot;);
                      "
                    >
                      <div class="img-bg-inner">
                        <h2>
                          9 Half-up/half-down Hairstyles for Long and Medium
                          Hair
                        </h2>
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipisicing
                          elit. Quidem neque est mollitia! Beatae minima
                          assumenda repellat harum vero, officiis ipsam magnam
                          obcaecati cumque maxime inventore repudiandae quidem
                          necessitatibus rem atque.
                        </p>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="custom-swiper-button-next">
                  <span class="bi-chevron-right"></span>
                </div>
                <div class="custom-swiper-button-prev">
                  <span class="bi-chevron-left"></span>
                </div>

                <div class="swiper-pagination"></div>
              </div>
            </div>
          </div>
        </div>
      </section> -->
  <!-- End Hero Slider Section -->

  <!-- ======= Post Grid Section ======= -->

  <!-- End Culture Category Section -->

  <!-- ======= Business Category Section ======= -->
  <section class="category-section">
    <div class="container" data-aos="fade-up">
      <div
        class="section-header d-flex justify-content-between align-items-center mb-5"
      >
        <h2>Latest</h2>
      </div>

      <div class="row">
        {% for post in all_posts %}
        <div class="col-lg-4 col-md-6 mt-3">
          <div class="card p-3">
            <img
              src="{{ post.featured_image.url }}"
              class="card-img-top"
              alt="{{ post.title }}"
              style="max-width: 100%; height: auto"
            />
            <div class="card-body">
              <h2 class="card-title">{{ post.title }}</h2>
              <p class="card-text text-muted h6">
                By {{ post.author }} | {{ post.created_on}}
              </p>
              <p class="card-text">{{ post.content | slice:":200" }}</p>
              <a
                href="{% url 'post_detail' post.slug %}"
                class="btn btn-primary"
                >Read More &rarr;</a
              >
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>

  <!-- End Business Category Section -->

  <!-- ======= Lifestyle Category Section ======= -->

  <!-- End Lifestyle Category Section -->
</main>
<!-- End #main -->

<!-- ======= Footer ======= -->
{% endblock %}
